/* create new blog form */

.create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid rgba(107, 106, 106, 0.44);
    box-sizing: border-box;
    display: block;
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  }
  
.create button {
  background: #D9D9D9;
  color: #000000;
  border: 0;
  padding: 8px;
  cursor: pointer;
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}
.title {
text-align: left;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
color: #0038FF;
}
.description {
text-align: left;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;

color: #000000;
}